body{
    margin: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    color: white;
    width: 100%;
}

.profileCardContainer {
    background-color: #1A1A1A;
}

.profileBottomContainer {
    display: flex;
}

.profileBottomLeft {
    flex: 3;
}

.profileBottomMid {
    flex: 5.5;
}

.profileBottomRight {
    flex: 3.5;
}

.profileCardWrapper{
    padding: 20px;
}

.profileImgs {
    height: 350px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 200px;
    border: 5px solid #1A1A1A;
    margin: auto;
}

.profileInfo{
    text-align: center;
}

